@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #0d0f12;
    color: #fff;
    overflow: hidden;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    flex: 1; 
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#right {
    flex: 1;
}

/* sign in */ 
#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;

}

#signin form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 8vh;
}

#signin .logo img {
    width: 300px;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: hsla(0,0%,100%,.95);
    border: 1px solid hsla(0,0%,100%,.3);
    color: hsla(0,0%,100%,.95);
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-btn {
    width: 100%;

}


#signing .secondary-btn, 
.or, 
.links {
    width: 60px;
}

#signin .links a {
    display: block;
    color: #2ea0d6;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: transparent;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

#signin .or span {
    color: #ccc;
    padding: 0 0.8rem;
}

/*Showcase*/ 
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/login-bg.jpg') no-repeat center center / cover;
    height: 100vh;
    text-align: center;

}

#showcase h1 {
    width: 100%;
    color: hsla(0,0%,100%,.95);
    font-size: 48px;
    margin-bottom: 24px;
    padding: 5%;
    margin-left: 50px;
    text-align: left;
}
/* Footer*/

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}

#main-footer a {
    color:#ccc;
    text-decoration: underline;
}

/*Button*/
.primary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border:0;
    border-radius: 2px;
    font-weight: 500;
    background-color: #0074ab;
    color:hsla(0,0%,100%,.95);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}

.primary-btn:hover {
    background-color: #005685;
}
.secondary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border:0;
    border-radius: 2px;
    font-weight: 500;
    background-color: #8a99a840;
    color:hsla(0,0%,100%,.95);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}

.secondary-btn:hover {
    background-color: #64676C;
}

.btn-info {
    margin-bottom: 0px;
    padding: 12px 80px;
    min-width: unset;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s all;
    border-radius: 2px;
    background: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
    color: #fff;
    text-decoration: none;
}

/* Media Queries */ 

@media(min-width: 1200px) {
    #left {
        flex: 4;
    }
    #right {
        flex: 6;
    }
}





